.Applicant {
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 250px;
  align-items: center;
  margin: 1vh;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.Applicants-title {
  background: white;
}

.Applicants-list {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 100vw;
  flex-wrap: wrap;
  overflow: auto;
  margin: 3vh;
}

.App-bar {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  max-height: 30vh;
  background-color: white;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .App-bar {
    justify-content: center;
  }
  .Applicants-list {
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
    max-height: 240px;
  }
  .Top-bar {
    justify-content: space-between
  }
  .Title-bar {
    margin-left: 15vw;
  }
 
}

.Search-style {
  display: flex;
  flex-direction: row;
  margin: 2vh;
  height: 40px;
  width: 250px;
}

.Status-style {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 250px;
  margin: 2vh;
}

.Bid-style {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 250px;
  margin: 2vh;
}

.Status-paper {
  color: white;
  padding: 3px;
  background-color: gray;
  margin: 5px;
}

.Bid-paper {
  color: white;
  padding: 3px;
  background-color: #ffc922;
  margin: 5px;
}

.Top-bar {
  background-color: #f5f5f5;
}

.Title {
  color: black;
}

.Title-bar {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
}

.Input-label {
  margin-left: 20px;
}
